[Unit]
Description=Traefik
Documentation=https://github.com/containous/traefik
After=network.target

[Service]
Environment=DOCKER_HOST=unix:///var/run/weave/weave.sock
ExecStart=/usr/bin/docker run  -h traefik.weave.local -v /etc/traefik/traefik.toml:/etc/traefik.toml -v /var/run/secrets/kubernetes.io/serviceaccount/:/var/run/secrets/kubernetes.io/serviceaccount/ --name traefik traefik -c /etc/traefik.toml
ExecStop=/usr/bin/docker stop -t 2 traefik && /usr/bin/docker rm traefik
Restart=always

[Install]
WantedBy=multi-user.target